ArchivosAdjuntos/
Arquitectura de Software/
Bases de Datos 1 y 2/
Bases de datos No relacionales.md/
/Cuando deba instalar todo de vuelta.md/
/Electronica analogica 1/
Excalidraw/
Imagenes/
Ing Soft./
MySQLWorkbench-ClienteGrafico.md
PCB.md
Personal/
Programacion 3/
Proyecto Internet of thing Con la Narrowband.md
PTZ/
Redes/
Repaso C y C++/
Sentencias DDL y DML.md
Servicios REST.md
Teoria De Señales
Tp Santi.md
Untitled.md
.obsidian/
Cuando deba instalar todo de vuelta.md
API - REST.md
/Base de Datos/BD PZT/BD "Mira lo que hago yo es" By Juan.md

